[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=update-versions

# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes

